body {
  font-family: Arial, sans-serif;
}

.header {
  text-align: center;
}

.icon {
  font-size: 50px;
}

.form-container {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.form-section {
  border: 1px solid black;
  display: flex;
  margin-bottom: 5px;
}

.vertical-text {
  background-color: black;
  color: white;
  padding: 5px;
  writing-mode: vertical-lr;
  text-orientation: sideways;
  transform: rotate(180deg);
  display: flex;
  justify-content: center;
}

.section-content {
  flex-grow: 1;
}

.section-title {
  background-color: black;
  color: white;
  margin: 0;
  padding: 10px;
}

.fields {
  display: flex;
  flex-direction: column;
}

.field {
  border: 1px solid black;
  margin: 0;
  height: 30px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.field-group {
  display: flex;
  justify-content: space-between;
}

.field-group .field {
  width: 50%;
}

.full-width {
  width: 100%;
}

.half-width {
  width: 50%;
}

input {
  border: none;
  margin: 0;
  padding: 0;
  &:focus {
    outline: none;
  }
}

.no-margin {
    margin-bottom: 0;
}

footer {
    text-align: center;
    padding: 20px;
}